.mainColour {
  background-color: #465c4c;
}
.mainColour-text {
  color: #465c4c;
}

.secColour {
  background-color: #B6C0B2;
}
.secColour-text {
  color: #B6C0B2;
}

.gold-text {
  color: #c1a453;
}

.gold{
    background-color: #c1a453;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Georgia Pro Cond';
}

main {
  flex: 1 0 auto;
}

.primary-text{
    color:#ECE7D8;
}

.justify{
  text-align: justify;
}

.collapsible-body{
  background-color: #95a69a;
}

.collapsible-header{
  background-color: #465c4c;
}